@{
    ViewData["Title"] = "How It Works";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<img src="https://files.slack.com/files-pri/TDHPC5E9W-FDJ2SU4MN/download/laf_diagramtransparent.png" />