@{
    ViewData["Title"] = "LaF Locations";
}
<h2>@ViewData["Title"]</h2>

<br />
<address>
    <b>Library</b><br />
    266 4th St NW, Atlanta, GA 30332<br />
    <abbr title="Phone">P:</abbr>
    678.404.7700
    <br />
    <br />
    <b>Clough Undergraduate Learning Commons</b><br />
    266 4th St NW, Atlanta, GA 30313<br />
    <abbr title="Phone">P:</abbr>
    678.404.7700
    <br />
    <br />
    <b>Klaus Advanced Computing Building</b><br />
    266 Ferst Dr NW, Atlanta, GA 30332<br />
    <abbr title="Phone">P:</abbr>
    404.385.6362
    <br />
</address>
<br />
<br />
<br />
<h3>@ViewData["Message"]</h3>
<address>
    <strong>Tech Support Team:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Any Questions?:</strong> <a href="mailto:ContactUs@example.com">ContactUs@example.com</a>
</address>
