@{
    ViewData["Title"] = "(Lost and) Found!";
}
<body>
    <div id="about">
        <h1 data-shadow='Found!'>Found!</h1>
    </div>
    <form method="get" action="Results" class="search-container">
        <input type="text" id="search-bar" placeholder=" Tell me what you lost (ex. car key, wallet, girlfriend)">
        <a href="" type="submit"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
        <br />
        <br />
        <h4 id="subtitle">Local Community LostNFound </h4>
    </form>

</body>
